# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/
